/* TO DO:
	- Add ND official font to banner
	- Add link to "University of Notre Dame"
*/

* {
	padding: 0;
	border: none;
	margin: 0;
}

body {
	margin: 0;
	background-color: #004796;
	/*background-image: url(images/)*/
}

/* BANNER */
#ND-standard-header {
	/* The old syntax, deprecated, but still needed, prefixed, for WebKit-based and old browsers */
	background: -prefix-linear-gradient(top, #0B3A70, #002b5b 85%, #001b47);
	/* The new syntax needed by standard-compliant browsers (Opera 12.1, IE 10, Fx 16 onwards), without prefix */
	background: linear-gradient(to bottom, #0B3A70, #002b5b 85%, #001b47);
	/*background-color: 	#002b5b;*/
	height: 			50px;
	padding-left: 		25px;
	line-height: 3.5em;
	margin: 0;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
	font-weight: normal;
	font-family: "Adobe Garamond Pro", Garamond, Georgia, Times, "Times New Roman", serif;
}

/* For "of" in banner at top */
i {
	text-transform: none;
}

a:link#banner-link {
	color: inherit;
	text-decoration: none;
}

a:visited#banner-link {
	color: inherit;
	text-decoration: none;
}

/* 3-COLUMN LAYOUT */
.main-menu-container {
	width: 140px;
	float: left;
}

#logo-banner-container {
	width: 400px;
	float: left;
}

/* NAV BAR */
ol {
	padding-top: 50px;
}

nav li {
	list-style-type: none;

	background-image: url(../img/yellow-nav-arrow.png);
	background-repeat: no-repeat;
	background-position: left center;

	padding: 25px 15px;

	color: #002b5b;
	font-size: 1.2em;
	font-family: "Adobe Garamond Pro", Garamond, Georgia, Times, "Times New Roman", serif;
}

/* LOGO BANNER */
#logo-banner {
	width: 95%;
	height: 500px;
	margin: 0 auto;
	background-color: rgba(250, 250, 250, 0.3);
}

img#logo{
	width:  100%;
	height:	100%;
	margin: auto;
	display: block;
}
