/* TO DO:
	- Add ND official font to banner
	- Center logo
*/

* {
	padding: 0;
	border: none;
	margin: 0;
}

html {
		background: url(../img/background-stonehenge-with-logo.png) no-repeat center center fixed;
-webkit-background-size: cover;
   -moz-background-size: cover;
  	 -o-background-size: cover;
  		background-size: cover;
  		color: #002b5b;
  		font-family: "Adobe Garamond Pro", Garamond, Georgia, Times, "Times New Roman", serif;
}


/**** BANNER */
#ND-standard-header {
	/* The old syntax, deprecated, but still needed, prefixed, for WebKit-based and old browsers */
	background: -prefix-linear-gradient(top, #0B3A70, #002b5b 85%, #001b47);
	/* The new syntax needed by standard-compliant browsers (Opera 12.1, IE 10, Fx 16 onwards), without prefix */
	background: linear-gradient(to bottom, #0B3A70, #002b5b 85%, #001b47);
	/*background-color: 	#002b5b;*/
	height: 50px;
	padding-left: 25px;
	line-height: 3.5em;
	margin: 0px;
	font-size: 	15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
	font-weight: normal;
	position: fixed;
	width: 100%;
}

/* For "of" in banner at top */
i {
	text-transform: none;
}

a:link#banner-link {
	color: inherit;
	text-decoration: none;
}

a:visited#banner-link {
	color: inherit;
	text-decoration: none;
}


/**** 3-COLUMN LAYOUT */
.main-menu-container {
	width: 15%;
	float: left;
	margin-top: 50px;
}

#middle-right-column-group {
	float: right;
	width: 85%;
}

#logo-banner-container {
	width: 30%;
	float: left;
}


/**** NAV BAR */
nav {
	display: none;
}

ol {
	padding-top: 50px;
}

nav li {
	list-style-type: none;
	padding: 25px 15px;
	background-image: url(../img/yellow-nav-arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 1.2em;
	font-family: "Adobe Garamond Pro", Garamond, Georgia, Times, "Times New Roman", serif;
}


/**** LOGO BANNER */
#logo-banner {
	width: 85%;
	/*height: 450px;
	background: url(../img/logo-banner_80.png) no-repeat center center;
-webkit-background-size: cover;
   -moz-background-size: cover;
  	 -o-background-size: cover;
  		background-size: cover;*/
}

#logo-image {
	width: 85%;
	height: 450px;
	/*background: url(../img/logo-banner_80.png) no-repeat center center;
-webkit-background-size: contain;
   -moz-background-size: contain;
  	 -o-background-size: contain;
  		background-size: contain;*/
}


/**** MAIN CONTENT */
main {
	float: left;
	width: 66%;
	background-color: rgba(250, 250, 250, 0.8);
    font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.2em;
    margin-top: 50px;
}

#dashed-line {
	width: 100%;
}

#about-us {
    padding: 40px 0;
}

main > div > p {
    padding: 0px 70px;
}

em {
    font-family: "Adobe Garamond Pro", Garamond, Georgia, Times, "Times New Roman", serif;
    font-size: 1.35em;
}

div#about-us-main-idea {
    background: url(../img/large-emphasis-arrow_large.png) no-repeat;
    background-size:100% 100%;
    margin: 35px 0;
    padding: 10px 35px 10px 70px;
    line-height: normal;
}

div#about-us-main-idea > h3 {
    text-align: left;
    width: 57%;
    padding-bottom: 15px;
}

/* Demands testing email input area */
form {
	margin: 40px 0px;
}

form > p {
    padding: 20px 70px;
}

#demands-testing-info {
	font-size: .8em;
	line-height: 1.5em;
}

#basic-email-input, #basic-email-submit, #basic-idea-input {
	font-size: 1.35em;
	color: #002b5b;
	padding: 7px;
}

#basic-email-submit {
	background: url(../img/yellow-nav-arrow.png) no-repeat left center;
	background-size: 100% 100%;
	padding-right: 20px;
	margin-left: 15px;
}

#basic-idea-input {
	margin-top: 17px;
	font-size: 1em;
	resize: none;
}

footer {
	padding: 40px;
}

footer > p {
	font-size: .8em;
	padding-bottom: 10px;
}

    
/* CSS for Resume-book
 * 	  Edited by Ethan on February 20, 2014
 *	  Baseball card dimension is hard-coded.
 */

.resume-content {
	position: relative;
	height: 420px;
	width: 300px;
}

.resume-content div {
	height: 420px;
	width: 300px;
}

.resume-content img {
	height: 420px;
	width: 300px;
	border-radius: 30px;
}

.resume-scroller { 
	height: 420px; 
	overflow:hidden; 
}

.resume-card {
	display: inline-block;
}

.resume-button-wrap {
	background-color: transparent;
}

.resume-button-wrap:hover {
	background-color: #e6e6e6;
}

.resume-button {
	margin: 5px;
	background-color: transparent;
}

.resume-button img {
	height: 42px;
	width: 42px;
}


