body {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, serif;
}

header {
	float: left;
	display: inline-block;
	width: 100%;
	height: 120px;
	position: relative;
	left: 0px;
	top: 0px;
}

#title-bar {
	position: absolute;
	background-color: #06a;
	width: 100%;
	left: 0px;
	top: 0px;
	display: table;
	padding: 20px 0 10px 10px;
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

#title-bar span:first-child {
	color: white;
	font-size: 1em;
	text-shadow: 1px 1px #000;
}


#title-bar span:nth-child(2) {
	color: white;
	font-size: 2em;
	text-shadow: 1px 1px #000;
}

#title-bar span:nth-child(3) {
	font-size: 1em;
}

.canvas {
	width: 100%;
	float: left;
	display: table;
}

#content {
	height: 480px;
	width: 480px;
	background-color: #ddd;
	border: 1px solid black;
	margin: 0 auto;
}

#content-title {
	padding: 10px 0 0 20px;
	font-size: 1.2em;
}

.content-info ol {
	margin-top: 0;
}

.content-info li {
	font-size: 0.8em;
	font-weight: bold;
}

.content-info input {
	float: right;
	width: 200px;
	margin-right: 20px;
}

.content-info textarea {
	float: right;
	width: 200px;
	height: 120px;
	margin-right: 20px;
}

#content-info-1 li {
	margin: 24px 0 24px 0;
}

#content-info-2 li {
	margin: 20px 0 20px 0;
}

#content-info-3 li {
	margin: 30px 0 30px 0;
}

.content-info select {
	float: right;
	width: 200px;
	margin-right: 20px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #2e7cb0;
   background: -webkit-gradient(linear, left top, left bottom, from(#04568c), to(#2e7cb0));
   background: -webkit-linear-gradient(top, #04568c, #2e7cb0);
   background: -moz-linear-gradient(top, #04568c, #2e7cb0);
   background: -ms-linear-gradient(top, #04568c, #2e7cb0);
   background: -o-linear-gradient(top, #04568c, #2e7cb0);
   padding: 10px 20px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1em;
   display: block;
   margin: 10px auto;
   text-shadow: 1px 1px #000;
   text-decoration: none;
}

.button:hover {
   border-top-color: #2a74a6;
   background: #2a74a6;
   color: #ccc;
}

.button:active {
   border-top-color: #055082;
   background: #055082;
}

#resume-content {
	position: relative;
	height: 420px;
	width: 300px;
}






